.zoomview-container {
  box-shadow: 3px 3px 20px #919191;
  -moz-box-shadow: 3px 3px 20px #919191;
  -webkit-box-shadow: 3px 3px 20px #919191;
  margin: 24px 0 24px 0;
  line-height: 0;
  height: 200px;
}

.overview-container {
  box-shadow: 3px 3px 20px #919191;
  -moz-box-shadow: 3px 3px 20px #919191;
  -webkit-box-shadow: 3px 3px 20px #919191;
  margin: 0 0 24px 0;
  line-height: 0;
  height: 85px;
}
